@import "./colors";
@import "./mixins";

.cart-button {
  background-color: $dark-cyan;
  @include flexCenter(row);
  color: $white;
  padding: 0.9rem;
  border-radius: 10px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: none;
  transition: 0.3s all;

  img {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: $dark-cyan-active;
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px) {
  .cart-button {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    letter-spacing: 0.6px;
  }
}
