@import "./colors";
@import "./fonts";

.content-wrapper {
  padding: 1.6rem;

  h1.content-header {
    color: $very-dark-blue;
    font-family: $fraunces;
    margin-bottom: 0.7rem;
  }

  .preview-title {
    letter-spacing: 4.5px;
    font-weight: 500;
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 0.75rem;
    line-height: 1.7;
    margin-bottom: 1rem;
  }

  .prices {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .discounted-price {
    color: $dark-cyan;
    font-size: 1.9rem;
    font-family: $fraunces;
    margin-right: 1rem;
  }

  .price {
    text-decoration: line-through;
  }

  .discounted-price,
  .price {
    display: inline;
  }
}
